#pragma code_page(65001)
#include "resource.h"

IDI_ICON1 ICON "icon.ico"

IDI_ICON_FILEPATH ICON "ico\\filepath.ico"
IDI_ICON_UNLOCK   ICON "ico\\unlock.ico"
IDI_ICON_UNPACK   ICON "ico\\unpack.ico"
IDI_ICON_RENAME   ICON "ico\\rename.ico"
IDI_ICON_ENCODING ICON "ico\\encoding.ico"
IDI_ICON_HASH     ICON "ico\\hash.ico"
IDI_ICON_OWNERSHIP ICON "ico\\ownership.ico"
IDI_ICON_READONLY ICON "ico\\readonly.ico"
IDI_ICON_NEWFOLDER ICON "ico\\newfolder.ico"
IDI_ICON_STRUCT   ICON "ico\\struct.ico"
IDI_ICON_EXTRACT  ICON "ico\\extract.ico"
IDI_ICON_CLAUDE   ICON "ico\\claudecode.ico"
IDI_ICON_RESTART  ICON "ico\\restart.ico"
IDI_ICON_DNS      ICON "ico\\dns.ico"
IDI_ICON_REGEDIT  ICON "ico\\regedit.ico"
IDI_ICON_HOSTS    ICON "ico\\hosts.ico"
IDI_ICON_STARTMENU ICON "ico\\startmenu.ico"
IDI_ICON_CLEANUP  ICON "ico\\cleanup.ico"
IDI_ICON_FIREWALL  ICON "ico\\firewall.ico"
IDI_ICON_ICONCACHE ICON "ico\\iconcache.ico"
IDI_ICON_CODEX     ICON "ico\\codex.ico"
IDI_ICON_DELETE    ICON "ico\\DELETE.ico"
IDI_ICON_CLEANEMPTY ICON "ico\\clear.ico"
