#pragma code_page(65001)
#include "resource.h"

IDI_ICON1 ICON "icon.ico"

IDI_ICON_FILEPATH ICON "ico\\fluent\\light\\filepath.ico"
IDI_ICON_UNLOCK   ICON "ico\\fluent\\light\\unlock.ico"
IDI_ICON_UNPACK   ICON "ico\\fluent\\light\\unpack.ico"
IDI_ICON_RENAME   ICON "ico\\fluent\\light\\rename.ico"
IDI_ICON_ENCODING ICON "ico\\fluent\\light\\encoding.ico"
IDI_ICON_HASH     ICON "ico\\fluent\\light\\hash.ico"
IDI_ICON_OWNERSHIP ICON "ico\\fluent\\light\\ownership.ico"
IDI_ICON_READONLY ICON "ico\\fluent\\light\\readonly.ico"
IDI_ICON_NEWFOLDER ICON "ico\\newfolder.ico"
IDI_ICON_STRUCT   ICON "ico\\fluent\\light\\struct.ico"
IDI_ICON_EXTRACT  ICON "ico\\fluent\\light\\extract.ico"
IDI_ICON_CLAUDE   ICON "ico\\claudecode.ico"
IDI_ICON_RESTART  ICON "ico\\fluent\\light\\restart.ico"
IDI_ICON_DNS      ICON "ico\\fluent\\light\\dns.ico"
IDI_ICON_REGEDIT  ICON "ico\\fluent\\light\\regedit.ico"
IDI_ICON_HOSTS    ICON "ico\\fluent\\light\\hosts.ico"
IDI_ICON_STARTMENU ICON "ico\\fluent\\light\\startmenu.ico"
IDI_ICON_CLEANUP  ICON "ico\\fluent\\light\\cleanup.ico"
IDI_ICON_FIREWALL  ICON "ico\\fluent\\light\\firewall.ico"
IDI_ICON_ICONCACHE ICON "ico\\fluent\\light\\iconcache.ico"
IDI_ICON_CODEX     ICON "ico\\codex.ico"
IDI_ICON_DELETE    ICON "ico\\fluent\\light\\delete.ico"
IDI_ICON_CLEANEMPTY ICON "ico\\fluent\\light\\cleanempty.ico"
IDI_ICON_RENAME_PREFIX ICON "ico\\fluent\\light\\rename_prefix.ico"
IDI_ICON_RENAME_SUFFIX ICON "ico\\fluent\\light\\rename_suffix.ico"
IDI_ICON_ENCODING_UTF8 ICON "ico\\fluent\\light\\encoding_utf8.ico"
IDI_ICON_ENCODING_UTF8_BOM ICON "ico\\fluent\\light\\encoding_utf8_bom.ico"
IDI_ICON_ENCODING_ANSI ICON "ico\\fluent\\light\\encoding_ansi.ico"
IDI_ICON_ENCODING_UTF16_LE ICON "ico\\fluent\\light\\encoding_utf16_le.ico"
IDI_ICON_ENCODING_UTF16_BE ICON "ico\\fluent\\light\\encoding_utf16_be.ico"
IDI_ICON_HASH_MD5 ICON "ico\\fluent\\light\\hash_md5.ico"
IDI_ICON_HASH_SHA1 ICON "ico\\fluent\\light\\hash_sha1.ico"
IDI_ICON_HASH_SHA256 ICON "ico\\fluent\\light\\hash_sha256.ico"
IDI_ICON_FW_BLOCK_OUT ICON "ico\\fluent\\light\\firewall_block_out.ico"
IDI_ICON_FW_BLOCK_IN ICON "ico\\fluent\\light\\firewall_block_in.ico"
IDI_ICON_FW_ALLOW_OUT ICON "ico\\fluent\\light\\firewall_allow_out.ico"
IDI_ICON_FW_ALLOW_IN ICON "ico\\fluent\\light\\firewall_allow_in.ico"
IDI_ICON_OPENCODE  ICON "ico\\opencode.ico"

IDI_ICON_FILEPATH_DARK ICON "ico\\fluent\\dark\\filepath.ico"
IDI_ICON_UNLOCK_DARK ICON "ico\\fluent\\dark\\unlock.ico"
IDI_ICON_UNPACK_DARK ICON "ico\\fluent\\dark\\unpack.ico"
IDI_ICON_RENAME_DARK ICON "ico\\fluent\\dark\\rename.ico"
IDI_ICON_ENCODING_DARK ICON "ico\\fluent\\dark\\encoding.ico"
IDI_ICON_HASH_DARK ICON "ico\\fluent\\dark\\hash.ico"
IDI_ICON_OWNERSHIP_DARK ICON "ico\\fluent\\dark\\ownership.ico"
IDI_ICON_READONLY_DARK ICON "ico\\fluent\\dark\\readonly.ico"
IDI_ICON_STRUCT_DARK ICON "ico\\fluent\\dark\\struct.ico"
IDI_ICON_EXTRACT_DARK ICON "ico\\fluent\\dark\\extract.ico"
IDI_ICON_RESTART_DARK ICON "ico\\fluent\\dark\\restart.ico"
IDI_ICON_DNS_DARK ICON "ico\\fluent\\dark\\dns.ico"
IDI_ICON_REGEDIT_DARK ICON "ico\\fluent\\dark\\regedit.ico"
IDI_ICON_HOSTS_DARK ICON "ico\\fluent\\dark\\hosts.ico"
IDI_ICON_STARTMENU_DARK ICON "ico\\fluent\\dark\\startmenu.ico"
IDI_ICON_CLEANUP_DARK ICON "ico\\fluent\\dark\\cleanup.ico"
IDI_ICON_FIREWALL_DARK ICON "ico\\fluent\\dark\\firewall.ico"
IDI_ICON_ICONCACHE_DARK ICON "ico\\fluent\\dark\\iconcache.ico"
IDI_ICON_DELETE_DARK ICON "ico\\fluent\\dark\\delete.ico"
IDI_ICON_CLEANEMPTY_DARK ICON "ico\\fluent\\dark\\cleanempty.ico"
IDI_ICON_RENAME_PREFIX_DARK ICON "ico\\fluent\\dark\\rename_prefix.ico"
IDI_ICON_RENAME_SUFFIX_DARK ICON "ico\\fluent\\dark\\rename_suffix.ico"
IDI_ICON_ENCODING_UTF8_DARK ICON "ico\\fluent\\dark\\encoding_utf8.ico"
IDI_ICON_ENCODING_UTF8_BOM_DARK ICON "ico\\fluent\\dark\\encoding_utf8_bom.ico"
IDI_ICON_ENCODING_ANSI_DARK ICON "ico\\fluent\\dark\\encoding_ansi.ico"
IDI_ICON_ENCODING_UTF16_LE_DARK ICON "ico\\fluent\\dark\\encoding_utf16_le.ico"
IDI_ICON_ENCODING_UTF16_BE_DARK ICON "ico\\fluent\\dark\\encoding_utf16_be.ico"
IDI_ICON_HASH_MD5_DARK ICON "ico\\fluent\\dark\\hash_md5.ico"
IDI_ICON_HASH_SHA1_DARK ICON "ico\\fluent\\dark\\hash_sha1.ico"
IDI_ICON_HASH_SHA256_DARK ICON "ico\\fluent\\dark\\hash_sha256.ico"
IDI_ICON_FW_BLOCK_OUT_DARK ICON "ico\\fluent\\dark\\firewall_block_out.ico"
IDI_ICON_FW_BLOCK_IN_DARK ICON "ico\\fluent\\dark\\firewall_block_in.ico"
IDI_ICON_FW_ALLOW_OUT_DARK ICON "ico\\fluent\\dark\\firewall_allow_out.ico"
IDI_ICON_FW_ALLOW_IN_DARK ICON "ico\\fluent\\dark\\firewall_allow_in.ico"
